  <div>
    <h2>Life Cycle of a Fixed Income Security</h2>
    <p>Fixed Income Securities is complex from accounting perspective to get all the dates and coupon calculation correct. The sheer volume and the breadth of this instruments makes it tough to accruately handle all possible situations. For e.g., during the life of the security, an investment managemr will need to accruately predict the cash flows given the security country of issuance and business day convention. </p>
    <table class = "table table-striped">
       <caption>Coupon Date Fields</caption>
       
       <thead>
          <tr>
             <th>Name</th>
             <th>Description</th>
             <th>Usage</th>
          </tr>
       </thead>
       
       <tbody>
          <tr>
             <td>Issue Date</td>
             <td>The date the security was originally issued</td>
             <td>Adjusted Issue Price</td>
          </tr>
          
          <tr>
             <td>Accrual Date</td>
             <td>First day the security starts accruing</td>
             <td>Earning Calculation Begins</td>
          </tr>
          
          <tr>
             <td>First Coupon Date</td>
             <td>Date the security pays the first coupon</td>
             <td>Used for coupon calculation</td>
          </tr>

          <tr>
             <td>Last Coupon Date</td>
             <td>Date of the last normal length coupon period</td>
             <td>Used for coupon calculation</td>
          </tr>

          <tr>
             <td>Maturity Date</td>
             <td>Date the security matures</td>
             <td>Repays all outstanding principal and interest</td>
          </tr>

       </tbody>
       
    </table>
  </div>  

 
  

